<% layout("./layouts/boilerplate.ejs") %>
<body>
  <br /><br />
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create a new Listings</h3>
      <br />
      <form
        method="POST"
        action="/listings"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="Enter a catchy title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please add a Title.</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description </label>
          <textarea
            required
            name="listing[description]"
            class="form-control"
          ></textarea>
          <div class="invalid-feedback">Please add a Description.</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price </label>
            <input
              required
              name="listing[price]"
              placeholder="1200"
              type="number"
              class="form-control"
            />
            <div class="invalid-feedback">Please add Valid Price.</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country </label>
            <input
              required
              name="listing[country]"
              placeholder="India"
              type="text"
              class="form-control"
            />
            <div class="invalid-feedback">Enter country.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image </label>
          <input
            name="listing[image]"
            placeholder="Enter the url"
            type="file"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location </label>
          <input
            required
            name="listing[location]"
            placeholder="Jaipur, Rajastan.."
            type="text"
            class="form-control"
          />
          <div class="invalid-feedback">Enter location.</div>
        </div>
        <br /><br />
        <button class="btn btn-dark add-btn">Add</button>
      </form>
      <br /><br />
    </div>
  </div>
</body>
