<% layout("./layouts/boilerplate.ejs") %>

<div class="row">
  <div class="col-6 offset-3">
    <h1>SignUp for WonderLust</h1>
    <form method="POST" action="/signup" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="Username" class="form-label">Username </label>
        <input
          name="username"
          id="Username"
          placeholder="Enter username"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please Enter Username</div>
      </div>

      <div class="mb-3">
        <label for="Email" class="form-label">Email </label>
        <input
          name="email"
          id="Email"
          placeholder="Enter Email"
          type="email"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter Valid Email</div>
      </div>

      <div class="mb-3">
        <label for="Password" class="form-label">Password </label>
        <input
          name="password"
          id="Password"
          placeholder="Enter Password"
          type="password"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter Valid Password</div>
      </div>

      <button class="btn btn-dark add-btn">SignUp</button>
    </form>
  </div>
</div>
